@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  background: #E5E5E5;
}

body {
  font-family: 'PT Root UI';
}

a {
  text-decoration: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 63%;
}

header::before {
  content: url("../img/mask.png");
  position: absolute;
  opacity: 0.7;
  top: 0;
  right: 0;
  z-index: -1;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2.5rem auto;
}

nav .link {
  position: relative;
  margin-right: 2.5rem;
  font-size: 0.84vw;
  width: 6.25rem;
  text-align: center;
  color: #000;
  font-weight: 700;
}

nav .link::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: url("../img/ellipse.png");
  position: absolute;
  top: 1.25rem;
  left: 2.8rem;
}

.link-orange {
  position: relative;
  margin-right: 2.5rem;
  font-size: 0.84vw;
  width: 6.25rem;
  text-align: center;
  color: #000;
  font-weight: 700;
}

.link-orange::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: url("../img/ellipse-orange.png");
  position: absolute;
  top: 1.25rem;
  left: 2.8rem;
}

main {
  width: 63%;
  margin: 0 auto;
}

.about-food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.7vw;
}

.about-food__description {
  width: 20.6vw;
  margin: 0 3.65vw 0 6vw;
}

.about-food__description h1 {
  font-size: 2.8vw;
  font-weight: bold;
  line-height: 115%;
  color: #000000;
}

.about-food__description p {
  font-size: 1.1vw;
  line-height: 120%;
  color: #000000;
  opacity: 0.6;
}

.about-food__description__img {
  width: 32.2vw;
}

.name {
  text-align: center;
  margin-top: 4.75rem;
}

.name h2 {
  font-weight: bold;
  font-size: 1vw;
  color: #FF5F33;
}

.name p {
  width: 38%;
  margin: 0 auto;
  font-weight: bold;
  font-size: 2.1vw;
  text-align: center;
  color: #000000;
}

.basics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background: #F3F3F3;
  margin-top: 3rem;
  padding: 3.125vw;
}

.basics__items p {
  width: 17.3vw;
  text-align: left;
  margin-top: 2.75rem;
  font-weight: normal;
  font-size: 0.84vw;
  line-height: 130%;
  color: #000000;
  opacity: 0.6;
}

.basics__items__img {
  width: 8.9vw;
}

.regulations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3.44rem;
}

.regulations__img {
  width: 31vw;
}

.regulations__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.regulations__table__column__items {
  margin: 1rem;
  padding: 1.4rem;
  width: 9.44vw;
  background: #F3F3F3;
}

.regulations__table__column__items__name {
  text-align: start;
  width: 6.15vw;
  font-weight: bold;
  font-size: 1vw;
  color: #000000;
}

.regulations__table__column__items__date {
  text-align: start;
  width: 5.15vw;
  margin-top: 0.5rem;
  font-weight: normal;
  font-size: 0.84vw;
  color: #000000;
  opacity: 0.6;
}

.regulations__table__column__items__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 2.6vw;
  margin: 1.75rem 0 0 auto;
}

.name__acor-container {
  margin-top: 2.81rem;
}

.name__acor-container label {
  position: relative;
  cursor: pointer;
  background: #F3F3F3;
  display: block;
  margin-top: 0.84vw;
  padding: 0.84vw 0 0.84vw 3.64vw;
  width: 94%;
  text-align: start;
  font-weight: 500;
  font-size: 1vw;
  color: #000000;
}

.name__acor-container label:before {
  content: "❯";
  position: absolute;
  right: 2.8vw;
  color: #F68741;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.name__acor-container input {
  display: none;
}

.name__acor-container input:checked + label {
  padding-left: 3.64vw;
  background: #F3F3F3;
  text-align: start;
  font-weight: 500;
  font-size: 1vw;
  color: #000000;
}

.name__acor-container label.active:before {
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.name__acor-container label.active + .name__acor-container__body {
  display: block;
}

.name__acor-container__body {
  display: none;
  line-height: 1vw;
  font-size: 0.83vw;
}

.name__acor-container__body p {
  text-align: start;
  width: 29.37vw;
  margin: 1.5rem 0 1.5rem 4.5rem;
  font-weight: normal;
  font-size: 0.83vw;
  color: #000000;
  opacity: 0.6;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 63%;
}

footer:before {
  content: url("../img/Vector.png");
  position: absolute;
  opacity: 0.7;
  left: 0;
  bottom: -175rem;
  z-index: -1;
}

@media (max-width: 1099px) {
  nav .link {
    font-size: 1.5vw;
  }
  nav .link-orange {
    font-size: 1.5vw;
  }
  .regulations__table__column__items {
    width: 8vw;
  }
  footer:before {
    bottom: -70rem;
  }
}

@media (max-width: 769px) {
  .about-food {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-food__description {
    text-align: center;
    width: 26.6vw;
  }
  .about-food__description h1 {
    font-size: 3.8vw;
  }
  .about-food__description p {
    font-size: 2.1vw;
  }
  .name h2 {
    font-size: 2vw;
  }
  .name p {
    font-size: 3.1vw;
  }
  .basics {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .basics__items p {
    width: 30.9vw;
    text-align: left;
    font-size: 1.84vw;
  }
  .basics__items__img {
    width: 15.9vw;
    margin-top: 6vw;
  }
  .regulations {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .regulations__img {
    width: 40vw;
  }
  .regulations__table__column__items {
    width: 23.44vw;
  }
  .regulations__table__column__items__name {
    font-size: 2vw;
  }
  .regulations__table__column__items__date {
    font-size: 1.84vw;
  }
  .regulations__table__column__items__img {
    width: 4.6vw;
  }
  .name__acor-container label {
    font-size: 2vw;
  }
  .name__acor-container input:checked + label {
    font-size: 2vw;
  }
  .name__acor-container__body {
    line-height: 2vw;
    font-size: 1.83vw;
  }
  .name__acor-container__body p {
    width: 51.37vw;
    margin: 1.5vw 0 1.5vw 3.5vw;
    font-size: 1.83vw;
  }
  footer {
    margin-top: 7rem;
  }
  footer:before {
    display: none;
  }
}

@media (max-width: 550px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 2.5rem auto;
  }
  nav .link {
    font-size: 3vw;
    margin-top: 2rem;
    margin-right: 0;
  }
  nav .link-orange {
    font-size: 3vw;
    margin-right: 0;
  }
  .regulations__table {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */