*
    margin: 0
    padding: 0
html
    font-size: 100%
    background: #E5E5E5

body
    font-family: 'PT Root UI'

a
    text-decoration: none

header
    display: flex
    justify-content: center
    margin: 6.25vw auto
    width: 63%

header::before
    content: ''
    background-image: url('../img/mask.png')
    position: absolute
    opacity: 0.7
    top: 0
    right: 0
    width: 55%
    height: 100%
    z-index: -1

nav
    display: flex
    position: fixed
    margin: -3.08vw auto

    .link
        position: relative
        margin-right: 2.08vw
        font-size: 0.84vw
        width: 5.2vw
        text-align: center
        color: #000
        font-weight: 700

    .link::after
        display: flex
        content: url("../img/ellipse.png")
        position: absolute
        top: 1.04vw
        left: 2.34vw

.orange
    position: relative
    margin-right: 2.08vw
    font-size: 0.84vw
    width: 5.2vw
    text-align: center
    color: #000
    font-weight: 700

.orange::after
    display: flex
    content: url("../img/ellipse-orange.png")
    position: absolute
    top: 1.04vw
    left: 2.34vw

main
    width: 63%
    margin: 0 auto

.about-food
    display: flex
    align-items: center
    margin-top: 2.7vw

    &__description

        margin: 0 3.65vw 0 6vw
        &__img
            width: 32.2vw
.description
    &__title
        font-size: 2.8vw
        font-weight: bold
        line-height: 115%
        color: #000000

    &__dscr
        font-size: 1.1vw
        line-height: 120%
        margin-top: 1.66vw
        color: #000000
        opacity: 0.6
    
.section
    text-align: center
    margin-top: 3.96vw

    &__name
        font-weight: bold
        font-size: 1vw
        color: #FF5F33

    &__dscr

        margin: 0 auto
        font-weight: bold
        font-size: 2.1vw
        text-align: center
        color: #000000

.basics
    display: flex
    justify-content: space-between
    align-items: baseline
    background: #F3F3F3
    margin-top: 2.5vw
    padding: 3.125vw
    border-radius: 1.04vw 0

    &__items
        
            width: 17.3vw
            text-align: left
            margin-top: 2.34vw
            font-weight: normal
            font-size: 0.84vw
            line-height: 130%
            color: #000000
            opacity: 0.6
        &__img
            width: 8.9vw
        &__dscr
            width: 17.3vw
            text-align: left
            margin-top: 2.34vw
            font-weight: normal
            font-size: 0.84vw
            line-height: 130%
            color: #000000
            opacity: 0.6


.regulations
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 2.86vw
    &__img
        position: relative
        width: 31vw
        left: -5.2vw
    &__table
        display: flex

.column
    &__items
        margin-top: 0.84vw
        margin-right: 0.84vw
        padding: 1.5vw
        width: 9.44vw
        background: #F3F3F3
        border-radius: 1.04vw 0

        &__name
            text-align: start
            width: 6.15vw
            font-weight: bold
            font-size: 1vw
            color: #000000

        &__date
            text-align: start
            width: 5.15vw
            margin-top: 0.41vw
            font-weight: normal
            font-size: 0.84vw
            color: #000000
            opacity: 0.6

        &__img
            display: flex
            width: 2.6vw
            margin: 1.46vw 0 0 auto

.name
    &__acor-container
        margin-top: 2.04vw

        label
            position: relative
            cursor: pointer
            background: #F3F3F3
            display: block
            padding: 0.84vw 0 0.84vw 3.64vw
            width: 94%
            text-align: start
            font-weight: 500
            font-size: 1vw
            color: #000000

            
        label:before
            content: "❯"
            position: absolute
            right: 2.8vw
            color: #F68741
            transform: rotate(-90deg)

        input
            display: none

        input:checked + label
            padding-left: 3.64vw
            background: #F3F3F3
            text-align: start
            font-weight: 500
            font-size: 1vw
            color: #000000

        label.active:before
            transition: transform 0.35s
            transform: rotate(90deg)
            transition: all 0.5s linear
        label.active + .name__acor-container__body
            opacity: 1
            transition: all 1.5s ease
            height: 100%
            

                
                
        &__body
            opacity: 0
            height: 0
            line-height: 1vw
            font-size: 0.83vw
.body__dscr
            
    text-align: start
    width: 29.37vw
    margin: 1.3vw 0 1.3vw 3.75vw
    font-weight: normal
    font-size: 0.83vw
    color: #000000
    opacity: 0.6


footer
    display: flex
    width: 63%

footer:before
    content: ''
    background-image: url("../img/Vector.png")
    position: absolute
    opacity: 0.7
    left: 0
    width: 22%
    height: 92%
    bottom: -175rem
    z-index: -1

    
@media (max-width: 1099px)
    nav
        .link
            font-size: 1.5vw
        .orange
            font-size: 1.5vw
    .regulations
        &__table
            &__column
                &__items
                    width: 8vw
    
    footer:before
        bottom: -70rem


@media (max-width: 769px)
    header
        justify-content: flex-end
    

    .about-food
        flex-direction: column
    .description
        text-align: center

        &__title
            text-align: center
            font-size: 5.8vw

        &__dscr
            text-align: center
            font-size: 4.1vw
            margin-bottom: 4vw

    .section
        &__name
            
            font-size: 5vw
            

        &__dscr
            font-size: 5.1vw


    .basics
        flex-direction: column
        align-items: center

        &__items
            &__img
                width: 20.9vw
                margin-top: 6vw
            &__dscr
                width: 51.9vw
                text-align: center
                font-size: 3.64vw

    .regulations
        flex-direction: column
        &__img
            width: 40vw


    .column
        &__items
            width: 40.44vw
            margin-top: 3vw
            &__name
                font-size: 4vw
            &__date
                font-size: 3.84vw
            &__img
                width: 8.6vw


    
    .name
        &__acor-container
            label
                font-size: 4vw

            input:checked + label
                font-size: 4vw
            &__body
                line-height: 5vw
                font-size: 1.83vw
    .body__dscr
        width: 60.37vw
        margin: 1.3vw 0 1.3vw 3.75vw
        font-size: 4.83vw
 
    footer
        margin-top: 5.88vw

    footer:before
        display: none   

@media (max-width: 550px)
    nav
        display: flex
        flex-direction: column
        margin: 2.04vw auto

        .link
            font-size: 4vw
            margin-top: 3.67vw
            margin-right: 0
        .link::after
            top: 4.04vw
        .orange
            margin-top: 3.67vw
            font-size: 4vw
            margin-right: 0
        .orange::after
            top: 4.04vw
    .regulations
        &__table
            flex-direction: column
            &__column


